/* General styles for the JOT html files */

body {
	font-family: Avenir Book, "Avenir", Helvetica Neue, Helvetica, serif;
	padding: 1em;
}
h1, h2 {
	color: #8064a2;
	font-size: 1.25em;
	font-weight: normal;
}
h1 {
	font-weight: bold;
}
h2 {
	font-style: italic;
}
h4 {
	font-weight: bold;
	color: #222222;
}
h5 {
	font-weight:bold;
	font-size: 1.20em;
	color: #F00;
}
h6 {
	font-weight: bold;
	display: inline-block;
	margin: 0;
	font-size: 1em;
}
p { 
	margin-bottom: 0.5em; 
	direction: ltr; 
	line-height: 1.5em; 
	text-align: justify; 
	widows: 2; 
	orphans: 2;
}
p > strong:first-child {
	color: #1f497d;
	text-transform: uppercase;
	display: inline-block;
}
br {
	margin-bottom: 0.25em;
	direction: ltr;
	text-aign: justify;
	widows:2;
	orphans:2;
}


/* Is this necessary? */
@page { 
	size: 8.5in 11in; 
	margin-left: 1.25in; 
	margin-right: 1.25in; 
	margin-top: 1in; 
	margin-bottom: 1in; 
}